WindowsFormsApp1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52050/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3appTEST" />
  <xs:element name="DetectTurns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectTurnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService3appTEST" minOccurs="0" name="DetectTurnsResult" nillable="true" type="q1:OutputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rawData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="numberOfpackages" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>